language: node_js 

sudo: false

node_js:
  - "0.10"
  - "4"
  - "6"

env:
  global:
   - secure: SNKAav+ZYneBNqdXu5qpwQXmLgyrjD4ACxHmgn78o6+L1jLpfHX6VhCrPhDOEnG5wqz0rZBPsW2sBuhlDe56WKFqeGEfXo792XeZr/dbO8F5x4BqIeSEkH1C9yE0HdMtXZ6Ox2Oaf3vsyp+s3dtJkgtkkCqbNEDBsDVm7OY0QU8=
   - secure: hSZG303w6N1C5SpguVngjLuYlyku7ODNuqU3ZBaHhQvXQxWPjFfKmYvbP0iBz/RPmz4KA7j+fObsq7+cA+6NjtfoPpus6h7bIDERylTqHnFC4FEaWrY+ATH3WlWgrNsPJpVrsGmV9bxeJgAeeWp3YnPld4nxlizCYaHWg9HEo2A=
   - secure: "Z7g8V0gOqE1r0GyT8NxI7EsjLixC/YlI22iH6n9Ar92X0Dhc7N2wS5FNKILMIICLzJGvCFFA/oc15qcDfkDDeUwq7uGs2cxdTinKZwbGPnfEJ1nuK6VdJfmfdIepGUaiOMQg5UyM8Zi8RBzaW2vP6DO/6Q7a4G0J/V3GNcE1hYg="
   - secure: "N/oZKx7VKaWdhjQhwRPnO1UfjAmuGE3bmB+4lmGTkEoupo5/g1O2V5bPqPoMQqjQEOlRTZqXx4zu9yF/Ew8Ie7Ra35tNbKYz84xS+5UIK/5FgOshi5z1H+nyzs18oTrM1b5cYqAU14eyaEdUD01Vl30dWAD0MfWbVb9fNdLq+8o="

